<h2>Item</h2>
  <%= @todo.description %>
<h2>¿Tarea lista?</h2>
<%if @todo.completed == true %>
    <p><%= "¡Listo!" %></p>
<%end%>

<%if @todo.completed == false %>
    <p><%= "¡Aún falta!" %></p>
<%end%>
